- wrap_layout :layout do
  %article.article
    .title
      %ul.title-info
        %li.icon-book.yellow
        %li
          = current_article.date.strftime('%b %e')
        %li.title-tags
          - current_article.tags.each do |tag|
            = "##{tag}"
      %h1.yellow
        = current_article.title
    = yield
    = partial 'disqus'
    = partial 'recent'

