---
title: DanSowter.com
description: Nerd things, aggressively
---
 
%article.red
  .container
    %h1
      = lorem.words 8
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 1
      %p= lorem.paragraphs 2
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 3
      %p= lorem.paragraphs 2
%article.blue
  .container
    %h1
      = lorem.words 3
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 1
      %p= lorem.paragraphs 2
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 3
      %p= lorem.paragraphs 2
%article.yellow
  .container
    %h1
      = lorem.words 4
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 1
      %p= lorem.paragraphs 2
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 3
      %p= lorem.paragraphs 2
%article.green
  .container
    %h1
      = lorem.words 5
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 3
      %p= lorem.paragraphs 2
    %blockqupte
      %p= lorem.sentence
    %section
      %p= lorem.paragraphs 3
      %p= lorem.paragraphs 2